:root {
    --blue1: hsl(210, 50%, 60%);
    --blue5: hsl(180, 36%, 54%);
    --blue6: hsl(221, 12%, 69%);
    --green1: hsl(114, 31%, 68%);
    --orange1: hsl(32, 93%, 66%);
    --orange2: hsl(32, 85%, 55%);
    --orange3: hsl(40, 94%, 68%);
    --pink1: hsl(300, 30%, 68%);
    --red1: hsl(357, 79%, 65%);
    --red2: hsl(13, 93%, 66%);
}

::highlight(argument)
{ color: var(--orange1); }

::highlight(attribute)
{ color: var(--pink1); }

::highlight(comment)
{ color: var(--blue6) }

::highlight(function)
{ color: var(--blue1); }

::highlight(keyword)
{ color: var(--pink1); }

::highlight(number)
{ color: var(--orange1); }

::highlight(operator)
{ color: var(--red2); }

::highlight(punctuation)
{ color: var(--blue5); }

::highlight(string)
{ color: var(--green1); }

::highlight(tag)
{
    color: var(--red1);
    font-weight: bold;
}
